<?xml version="1.0"?>
<h2>Example</h2>
<p>Example<br/>Content</p>
<p><a name="anchor"/>Hello</p>
<ul><li><a target="_blank" href="https://foo.example.com">Foo</a></li>
    <li><a target="_blank" title="Title" href="https://bar.example.com">Bar</a></li>
    <li><a target="_blank" href="#anchor">Link to anchor</a></li>
</ul>
