<h2>Example</h2>
<p>Example<br>Content</p>
<p><a name="anchor"></a>Hello</p>
<ul>
    <li><a href="https://foo.example.com">Foo</a></li>
    <li><a title="Title" target="foo" href="https://bar.example.com">Bar</a></li>
    <li><a href="#anchor">Link to anchor</a></li>
</ul>
